@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Prompt:ital,wght@1,300&display=swap');

body {
    background-color: aquamarine;
}

.heading {
    text-align: center;
}

.playground-heading {
    color: darkgreen; 
    font-family: 'Lobster Two', cursive; 
    font-size: 5rem;
}

.main {
    border: 5px solid black; 
    width: 55%; 
    margin: 0 auto;
    background-color: white;
}

.main div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2rem auto;
}

#punane {
    border-color: red;
}

#kollane {
    border-color: yellow;
}

#roheline {border-color: green;}

.footer {
    text-align: center; 
    font-family: 'Prompt', sans-serif; 
    font-size: 2rem; color: rgb(0, 0, 3);
}